.navLink{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 80px;
    margin-top: 6px;
    color: white;
}


.navLinks{
    margin-right: 400px;
}

.navLinkLogout{
    margin-left: 200px;
}