

.header{
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    text-align: center;
}

.content{
    margin-top: 30px;
    text-align: center;
}

.content .inputField{
    padding-left: 10px;
    width: 400px;
    height: 60px;
    border-radius: 100px;
    margin-top: 20px;
    border-color: black;
    font-weight: bolder;
    font-size: large;
}

.content .inputField2{
    padding-left: -100px;
    width: 800px;
    height: 200px;
    margin-top: 20px;
    border-color: black;
    padding-left: 10px;
    padding-bottom: 120px;
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

.content .submit{
    margin-top: 20px;
    width: 300px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(10, 198, 255);
    border-color: transparent;
}

.content-box-list{
    text-align: center;
}

.table{
    text-align: center;
}